@media only screen and (max-width: 1200px) {
    header {

        height: 70vh;

    }
    .row {
        margin: 0 15px;
    }
    .hero-text-box{
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .mobile-menu span {
        display: block;
    }
    html {
        font-size: 57.5%;
    }

    

    header {

        height: 70vh;

    }

    .main-nav {
        display: none;
    }

    .client-photo {
        text-align: center;
        width: 100%;
        float: none;
    }

    .client-review {
        width: 100%;
        float: none;
        text-align: center;
    }

    .contact-section form {
        margin-top: 5rem;
        width: 100%;
        margin-left: 0%;
    }
}


@media only screen and (max-width: 980px) {
    html {
        font-size: 55%;
    }

    .span_1_of_4 {
        width: 49.2%;
    }

    .span_1_of_4:nth-child(3) {
        margin-left: 0;
    }

    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width: 768px) {
    .little-description {
        width: 100%;
        margin-left: 0;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;

    }

    .services-icon {
        height: 10rem;
        margin-bottom: 3rem;
        margin-top: 4rem;
    }

    .box h3 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 480px) {

    html {
        font-size: 50%;
    }

    .btn,
    .btn:visited,
    .btn:link {

        padding: 1rem 4rem;
        border-radius: 5px;
        margin-top: 4rem;
        font-size: 1.4rem;
    }

    .span_1_of_4 {
        width: 100%;
    }



}

@media only screen and (max-width: 414px) {
    header {
        height: 45vh;
    }
    html {
        font-size: 50%;
    }
}
@media only screen and (max-width: 375px) {
    header {
        height: 45vh;
    }
    html {
        font-size: 45%;
    }
}
@media only screen and (max-width: 414px) {
    header {
        height: 45vh;
    }
    html {
        font-size: 50%;
    }
}
@media only screen and (max-width: 200px) {
    header {
        height: 40vh;
    }
    html {
        font-size: 40%;
    }
}